* {
    margin: 0
}

body {
    overflow: hidden;
    background-color: #3b1f0e;
    background-image: url('images/space.gif');
    background-size: cover;
    color: #ffc9a8;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 20;
}

@font-face {
    font-family: NewHiScore;
    src: url('other/NewHiScore.ttf');
  }

.p {
    font-family: 'NewHiScore';
}

.button {
    cursor: url('cursor/cursor_select.png'), pointer;
}

html {
    overflow: hidden;
    margin: 0;
    cursor: url('cursor/cursor_default.png'), default;
}

a {
    cursor: url('cursor/cursor_select.png'), pointer;
}

.progress {
    cursor: url('cursor/cursor_progress.gif'), progress;
}

.wait {
    cursor: url('cursor/cursor_work.gif'), wait;
}

.crosshair {
    cursor: url('cursor/cursor_crosshair.png'), crosshair;
}

.help {
    cursor: url('cursor/cursor_help.png'), help;
}